body{
    font-family: manrope, sans-serif;
    font-weight: 400;
    width: 100%;
}

.container{
    width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
}

.section_black{
    background-color: black;
}

h1{
    width: 956px;
    font-size: 60px;
    line-height: 100%;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
}
h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}
h3{
    line-height: 41px;
    font-size: 30px;
}

h1, h2, h3{
    letter-spacing: -0.03em;
    color: #121212;
}
.b_txt{
    color: #fff ;
}



section{
    padding: 150px 125px 0 125px;
}

.section_long{
    padding-bottom: 150px;
}




.interior{
    margin-top: 30px;
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url("../resurces/pic1.png");
}

.img_txt{
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 20px;
    line-height: 28px;
    color: white;
    width: 480px;
}


.description{
    margin: 30px 0;
    width: 1048px;
    font-size: 45px;
    letter-spacing: -0.03em;
}


.sslka{
    display: block;
    box-sizing: border-box;
    height: 67px;
    width: 255px;
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: -0.03em;
}

.sslka:hover{
    background-color: white;
    color:#AD1818;
}




.block_part{
    padding-top: 15px;
    font-size: 30px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
}

.block_link{
    font-size: 20px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #AD1818;
}
.blocks{
    margin-top: 30px;
}

.block{
    margin-bottom: 90px;
}

.project_btn{
    display: block;
    height: 153px;
    line-height: 153px;
    width: 100%;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
}

.project_btn:hover{
    background-color: #AD1818;
    color: white;
}


.blocks_black{
    margin-top: 34px;
}

.section_b_pict{
    margin-bottom: 15px;
}

.block_black{
    margin-bottom: 60px;
}

.block_black:last-child{
    margin-bottom: 0;
}
